@mixin flex_align {
  display: flex;
  align-items: center;
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_align_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}
